[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	di = diff
	lg = log
[user]
	name = jmhayes3
	email = jmhayes3@uh.edu
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
